.contact-container {
  display: flex;
  width: 100%;
  height: 100%;
  background: var(--bg-color);

  .left-col {
    width: 40%;
    background-image: url("/assets/img/BoonsBoro-contact.jpg");
    background-size: cover;
    background-repeat: no-repeat;
  }

  .right-col {
    background: var(--bg-color);
    width: 50%;
    padding: 3rem 2rem;
    font-size: 15px;
  }

  h2,
  label {
    font-family: ($fontAri);
    font-weight: 400;
    letter-spacing: 0.1rem;
    font-size: 18px;
  }

  h2 {
    color: var(--h2-color);
    text-transform: uppercase;
    font-size: 35px;
    letter-spacing: 0.3rem;
    font-weight: 300;
  }

  p {
    color: var(--secondary-color);
    font-size: 0.9rem;
    letter-spacing: 0.01rem;
    width: 40vw;
    margin: 0.25rem 0;
    font-style: italic;
  }

  label {
    color: var(--primary-color);
    text-transform: uppercase;
    font-size: 18px;
  }

  form {
    width: 31.25rem;
    position: relative;
    margin-top: 2rem;
    padding: 1rem 0;
  }

  input,
  textarea,
  label {
    width: 40vw;
    display: block;
  }

  p,
  placeholder,
  input,
  textarea {
    font-family: ($fontAri);
  }

  input::placeholder,
  textarea::placeholder {
    color: var(--secondary-color);
  }

  input {
    color: var(--secondary-color);
    font-weight: 500;
    background: var(--bg-color);
    border: none;
    border-bottom: 1px solid var(--secondary-color);
    padding: 0.5rem 0;
    margin-bottom: 1rem;
    outline: none;
  }

  textarea {
    color: var(--primary-color);
    font-weight: 500;
    background: var(--bg-color);
    border: none;
    border-bottom: 1px solid var(--secondary-color);
    padding: 0.5rem;
    margin-bottom: 1rem;
    outline: none;
    resize: none;
  }

  .button {
    [type=submit] {
      background-color: #04AA6D;
      color: ($bgg);
      text-transform: uppercase;
      font-weight: 300;
      color: var(--bg-color);
      width: 10rem;
      height: 2.25rem;
      border: none;
      border-radius: 2px;
      outline: none;
      font-size: 15px;
      cursor: pointer;

      &:hover {
        background-color: #5745a0;
      }
    }


    [type=reset] {
      background-color: #f72d5c;
      color: ($bgg);
      text-transform: uppercase;
      font-weight: 300;
      font-size: 15px;
      color: var(--bg-color);
      width: 10rem;
      height: 2.25rem;
      border: none;
      border-radius: 2px;
      outline: none;
      cursor: pointer;

      &:hover {
        background-color: #ec08e8;
      }
    }
  }
}

@media (max-width: 1199px) {
  .contact-container{
    .right-col {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}
  #contact-form, .button {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

  }
}

@media (max-width: 600px) {
  .contact-container h2, label, input, textarea, p {
    width: 75%!important;
  }
}