*,
*:before,
*:after {
	margin: 0;
	padding: 0;
	font-family: Arial, Helvetica, sans-serif;
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	-ms-box-sizing: border-box;
}

body {
	width: 100%;
	height: 250px;
}

.header {
	background-color: #314CB6;
	padding: 40px;
	margin: 0;
	max-width: 100%;
	color: #000000;
	font-size: 25px;
	text-align: center;
}

.header a {
	text-decoration: none;
	color: inherit;
}

nav {
	margin: 0 auto 0;
	position: relative;
	width: 590px;
	height: 50px;
	background-color: #807e7e;
	border-radius: 8px;
	font-size: 0;
}

nav a {
	line-height: 50px;
	height: 100%;
	font-size: 15px;
	display: inline-block;
	position: relative;
	z-index: 1;
	text-decoration: none;
	text-transform: uppercase;
	text-align: center;
	color: white;
	cursor: pointer;
}

nav .animation {
	position: absolute;
	height: 100%;
	top: 0;
	z-index: 0;
	transition: all .5s ease 0s;
	border-radius: 8px;
}

a:nth-child(1) {
	width: 100px;
}

a:nth-child(2) {
	width: 110px;
}

a:nth-child(3) {
	width: 100px;
}

a:nth-child(4) {
	width: 160px;
}

a:nth-child(5) {
	width: 120px;
}

nav .start-home, a:nth-child(1):hover~.animation {
	width: 100px;
	left: 0;
	background-color: #1abc9c;
}

nav .start-about, a:nth-child(2):hover~.animation {
	width: 110px;
	left: 100px;
	background-color: #e74c3c;
}

nav .start-blog, a:nth-child(3):hover~.animation {
	width: 100px;
	left: 210px;
	background-color: #3498db;
}

nav .start-portefolio, a:nth-child(4):hover~.animation {
	width: 160px;
	left: 310px;
	background-color: #aa47d0;
}

nav .start-contact, a:nth-child(5):hover~.animation {
	width: 120px;
	left: 470px;
	background-color: #e67e22;
}

/* Index Page */

.section {
	display: grid;
	height: 970px;
	grid-template-columns: repeat(6, 6fr);
	grid-template-rows: 60px 30px 810px 70px;
	text-align: center;
}

.sidebar-wrapper {
	display: flex;
	width: 100%;
	height: 260px;
}

.sidebar-wrapper .contenedor-img {
	width: 20%;
	height: 100%;
}

.sidebar-wrapper .contenedor-img img {
	width: 100%;
	height: 100%;
}

.sidebar-wrapper .author-text {
	width: 80%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.sidebar-wrapper a {
	display: inline;
	text-decoration: none;
	margin: 0px 8px;
	padding: 3px;
	font-style: normal;
	color: #000000;
	margin-top: auto;
}

.title {
	padding: 10px;
	font-weight: 600;
	font-size: 15px;
	background-color: #8e8cfa;
	border-radius: 6px;
	border: 2px solid #8e8dff;
}

/* Card Section */
.cards-section {
	width: 100%;
	height: 100%;
	display: flex;
	flex-direction: column;
	background-color: #f5f6fb;
	flex-wrap: wrap;
}

.cards-section .card-title {
	margin: 0;
	background-color: #ffffff;
	font-weight: bolder;
	font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.cards-section .cards-container {
	width: 100%;
	display: flex;
	flex-direction: row;
	margin: 16px 0;
}

.cards-section .cards-container .card {
	width: 24%;
	border: 1px solid #fff0f0;
	text-align: center;
	margin: 0 auto;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
	font-family: arial;
	padding: 15px;
	display: inline-block;
}

.cards-section .cards-container .card .card__content {
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
}

.cards-section .cards-container .card .card__content img {
	opacity: 1;
	display: block;
	height: auto;
	transition: .5s ease;
	width: 75%;
}

.cards-section .cards-container .card .card__content img:hover {
	transform: scale(1.1); /* (150% zoom - Note: if the zoom is too large, it will go outside of the viewport) */
  }

.cards-section a {
	display: flex;
	text-decoration: none;
	margin: 0px 8px;
	padding: 3px;
	font-style: normal;
	color: #000000;
	margin-top: auto;
}

.button_books {
	padding: 10px;
	margin: auto;
	font-size:15px;
	font-family:Arial;
	width:100px;
	height:40px;
	border-width:1px;
	color:#fff;
	border-color:#8e8cfa;
	font-weight:bold;
	border-top-left-radius:10px;
	border-top-right-radius:10px;
	border-bottom-left-radius:10px;
	border-bottom-right-radius:10px;
	text-shadow: 1px 1px 0px #8e8cfa;
	background:#8e8cfa;;
}

/* Gallery Section */

.headlineInn {
	width: 100%;
	height: 100%;
	display: inline;
	flex-direction: column;
}

.headlineInn h2 {
	background-color: #e5d4fe;
}

.headlineInn a {
	text-decoration: none;
	color: inherit;
}

.gallery {
	display: grid;
	grid-template-columns: repeat(8, 1fr);
	grid-template-rows: repeat(8, 5vw);
	grid-gap: 1.5rem;
}

.gallery__img {
	width: 100%;
	height: 100%;
	object-fit: cover;
	display: block;
}

.gallery__item--1 {
	grid-column-start: 1;
	grid-column-end: 3;
	grid-row-start: 1;
	grid-row-end: 4;

	/** Alternative Syntax **/
	/* grid-column: 1 / span 2;  */
	/* grid-row: 1 / span 2; */
}

.gallery__item--2 {
	grid-column-start: 3;
	grid-column-end: 6;
	grid-row-start: 1;
	grid-row-end: 5;

	/** Alternative Syntax **/
	/* grid-column: 3 / span 2;  */
	/* grid-row: 1 / span 2; */
}

.gallery__item--3 {
	grid-column-start: 6;
	grid-column-end: 9;
	grid-row-start: 1;
	grid-row-end: 7;

	/** Alternative Syntax **/
	/* grid-column: 5 / span 4;
	grid-row: 1 / span 5; */
}

.gallery__item--4 {
	grid-column-start: 1;
	grid-column-end: 6;
	grid-row-start: 5;
	grid-row-end: 9;

	/** Alternative Syntax **/
	/* grid-column: 1 / span 4;  */
	/* grid-row: 3 / span 3; */
}

/* Gallery Section */
/* News Section */

.News {
	width: 100%;
	height: 100%;
	display: flex;
	flex-direction: column;
}

.News h2 {
	background-color: #e2fbfa;
}

.News .video_content {
	width: 35%;
	height: 100%;
}

.News .video_content iframe {
	width: 100%;
	align-items: left;
	display: flex;
	float: left;
}

.News .News_description {
	width: 65%;
	padding: 15px;
	display: flex;
	margin: 20px 70px 25px 0;
	flex-direction: column;
	align-items: center;
}

/* News Section */

/* Index Page */

/* About Page */

.contenedor-bio {
	width: 100%;
	height: 500px;
	padding: 5px;
	display: grid;
	grid-template-columns: auto auto;
	grid-column-gap: 10px;
	grid-template-rows: 100px 100px;
	grid-row-gap: 10px;

}

.contenedor-bio .mainH1 {
	display: grid;
	padding: 15px;
	grid-template-rows: 10px;
	font-weight: bolder;
	justify-content: center;
	text-align: center;
}

.contenedor-bio .image-bio {
	width: 30%;
}

.contenedor-bio .image-bio img {
	float: left;
	transition: transform .2s;
}

.contenedor-bio .image-bio img:hover {
	transform: scale(1.1); /* (150% zoom - Note: if the zoom is too large, it will go outside of the viewport) */
}

.contenedor-bio .bio {
	margin: 10px;
	padding: 0;
	line-height: 1.5em;
	justify-content: space-around;
	align-content: center;
}

/* About Page */

/* All Books Page */

.book_page {
	background-color: white;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
	margin: auto;
	padding: auto;
	display: flex;
	justify-content: center;
}

.book_page .wrap {
	text-align: center;
	margin: 0;
	padding: 15px 0;
    width: 100%;
    max-width: 1200px;
	display: inline-block;
}

.book_page .items {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
}

.book_page .items .item1 {
    width: 50%;
	display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.book_page .items .item1 .left1 {
    width: 36%;
}

.book_page .items .item1 .left1 img {
	width: 65%;
}

.book_page .items .item1 .right1 {
    width: 58%;
}

.book_page .items .item1 .card_title {
	color: #000000;
	margin-bottom: 5px;
}

.book_page .items .item1 .list {
	margin: 0 0 15px 0;
    line-height: 150%;
}

/* All Books Page */

/* Inn BoonsBoro Page */
/* container-inn section */

.container-inn {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.container-inn .headline {
	width: 100%;
}

.container-card {
	display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
	padding: 10px 30px;
}

.container-card .image {
	width: 25%;
}

.container-card .image img {
	width: 100%;
	transition:all .5s ease-in-out;
}

.image img:hover {filter: grayscale(80%);}

.container-card .text {
	width: 70%;
}

.container-card .text p{
	padding: 0 125px;
}

/* container-inn section */

.section .rooms {
	width: 100%;
	height: 100%;
	display: flex;
	flex-direction: column;
	background-color: #f5f6fb;
}

.rooms .cards-rooms {
	width: 24%;
	border: 1px solid #fff0f0;
	text-align: center;
	margin: 0 auto;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
	font-family: arial;
	padding: 15px;
	display: inline-block;
}

.rooms .cards-rooms .inn_image img {
	width: 80%;
	transition: transform .2s; /* Animation */
}

.inn_image img:hover {
	transform: scale(1.3); /* (150% zoom - Note: if the zoom is too large, it will go outside of the viewport) */
}

.rooms .cards-headline {
	margin: 0;
	background-color: #98f9f9;
	font-weight: bolder;
	font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.rooms .captions {	
	padding: 10px 30px;
	text-align: center;
	margin: 5px;
}

.rooms .cards-rooms .cards-rooms .room-1 {
	float: center;
	display: inline;
	border-bottom-color: #adaaaa;
	border-bottom-width: 2px;
	margin-bottom: 5px;
}

.room-title {
	color: #000000;
	text-align: center;
	margin-bottom: 5px;
}

.list {
	list-style: none;
	text-align: center;
}

.room-1 p {
	text-align: center;
	font-style: italic;
	padding: 1px;
}

.rooms h4 {
	text-align: center;
}

/* Gallery Section */

.container_Inn {
	width: 100%;
	margin: 2rem auto; 
}

.gallery-Inn {
	display: grid;
	grid-template-columns: repeat(8, 1fr);
	grid-template-rows: repeat(8, 7vw);
	grid-gap: 1rem; 
}

.gallery--img {
	width: 100%;
	height: 100%;
	object-fit: cover;
	display: block; 
    transition:all .5s ease-in-out;
}

.gallery--item__1 {
	grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 3;
}

.gallery--item:hover {filter: opacity(.5);}

.gallery--item__2 {
    grid-column-start: 3;
    grid-column-end: 6;
    grid-row-start: 1;
    grid-row-end: 3;
}

.gallery--item__3 {
    grid-column-start: 6;
    grid-column-end: 9;
    grid-row-start: 1;
    grid-row-end: 6;
}

.gallery--item__4 {
    grid-column-start: 1;
    grid-column-end: 6;
    grid-row-start: 3;
    grid-row-end: 6;
}

.gallery--item__5 {
    grid-column-start: 1;
    grid-column-end: 5;
    grid-row-start: 6;
    grid-row-end: 9;
}

.gallery--item__6 {
	grid-column-start: 5;
	grid-column-end: 9;
	grid-row-start: 6;
	grid-row-end: 9;
}

/* Gallery Section */

/*  Inn BoonsBoro Page */


/* Contact Page */

.form-1 {
	width: 100%;
	height: 100px;
}

h2 {
	margin-block-start: 0;
	padding: 8px;
	text-align: center;
	background-color: #c1c0c0;
	text-transform: uppercase;
}

.Form-1 p {
	text-align: center;
	font-size: 16px;
	font-style: italic;
}

input[type=text],
select,
textarea {
	width: 100%;
	padding: 12px;
	border: 1px solid #ccc;
	border-radius: 4px;
	box-sizing: border-box;
	margin-top: 6px;
	margin-bottom: 16px;
	resize: vertical;
}

.list input[type=email],
select,
textarea {
	width: 100%;
	padding: 12px;
	border: 1px solid #ccc;
	border-radius: 4px;
	box-sizing: border-box;
	margin-top: 6px;
	margin-bottom: 16px;
	resize: vertical;
}

.bottom input[type=submit] {
	background-color: #04AA6D;
	color: white;
	padding: 12px 20px;
	border: none;
	border-radius: 4px;
	cursor: pointer;
	float: left;
}

input[type=submit]:hover {
	background-color: #5745a0;
}

input[type=reset] {
	background-color: #f72d5c;
	color: white;
	padding: 12px 20px;
	border: none;
	border-radius: 4px;
	cursor: pointer;
}

.list {
	text-align: left;
	border-radius: 5px;
	background-color: #f2f2f2;
	padding: 20px;
}

/* Contact Page */

footer {
	padding: 40px;
	margin: 0;
	background-color: rgb(5, 5, 5);
	font-size: 14px;
	bottom: 0;
}

footer .links {
	text-align:center;
}

footer .links ul {
	display: inline;
	margin: 0 0 10px;
	padding: 10px;
	flex-flow: wrap;
}

footer .links li {
	list-style: none;
    display:  inline;	
	padding: 10px;
	color:  #bbbbbb;
}

footer .links a {
	padding: 5px;
	display:inline;
	line-height: 1.8;
	text-decoration: none;
	color:  #bbbbbb;
}

footer .right3 {
	color: #A2A7A5;
	margin-top: auto;
	justify-content: right;
	display: flex;
	padding: 10px;
	margin: 5px;
	font-style: normal;
}

footer .right3 p {
	color: #adaaaa;
	vertical-align: top;
	font-style: normal;

}

footer .form {
	display: inline;
	float: right;
	justify-content: right;
	margin-bottom: 15px;
}

footer .form2 input {
	display: inline;
	border-radius: 3px;
	box-sizing: border-box;
	background-color: #1f2022;
	box-shadow: 0 1px 0 0 rgba(255, 255, 255, 0.1);
	border: none;
	resize: none;
	font: inherit;
	font-size: 14px;
	font-weight: normal;
	color: #d1d2d2;
    float: right;
	width: 100px;
	padding: 18px;
}

footer .form input {
	display: inline;
	border-radius: 3px;
	box-sizing: border-box;
	background-color: #1f2022;
	box-shadow: 0 1px 0 0 rgba(255, 255, 255, 0.1);
	border: none;
	resize: none;
	font: inherit;
	font-size: 14px;
	font-weight: normal;
	color: #d1d2d2;

	width: 400px;
	padding: 18px;
}

input[type=submit]:hover {
	background-color: #5745a0;
}

input[type=submit] {

	border-radius: 3px;
	background-color: #33383b;
	color: #ffffff;
	border: 0;
	font-weight: bold;
	float: right;
	color: white;
	padding: 12px 20px;
	border: none;
	border-radius: 4px;
	cursor: pointer;
}

input[type=submit]:hover {
	background-color: #5745a0;
}

footer .copyright p{
	font-style: normal;
	margin: 11px;
	font-size: 10px;
	float: center;
	text-align: center;
	font-size: 13px;
	color: #606060;
}